body {
    font-family: serif;
}
html {
    background-color : rgb(204, 208, 219); 
}
h1 {
    color: rgb(0, 0, 0);
    font-weight: 400;
    text-align: center;
    font-size: 40px;
}
p {
    font-size: 30px;
}
